.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(240, 9%, 98%);
    padding: 20px 50px;
    box-sizing: border-box;
    border: 1px solid rgb(121, 121, 121, 0.3);
}
.nav_list {
    display: flex;
    justify-content: space-between;
}
.nav_link {
    position: relative;
    color: #2e363e;
}
.nav_notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav_dot {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: 30px;
    bottom: 25px;
}